body {
    background-color: black !important;
    color: white !important;
}

.container, .row, .col-md-3, .card, .card-body, .card-title, .card-text {
    color: black !important;
    
}

h2{
    color: white !important;
}