
.container .col-md-9 {
    max-width: 75%; 
    margin: 0 auto; 
}


.group-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.group-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.group-description {
    font-size: 0.9rem;
    color: #6c757d;
}


.subscribers-container {
    width: 40%; 
}

.subscriber-box {
    width: 20%; 
    text-align: center;
}

.subscriber-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid #ddd;
    padding: 2px;
}

.subscriber-name {
    font-size: 0.85rem;
    font-weight: 500;
    color: #555;
}

.shadow-sm {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-muted {
    color: #888 !important;
}
