.profile-picture-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center align children */
}

.profile-picture-container img {
    margin-bottom: 10px;
    margin-top: 5px; 
    border: 2px solid rgb(192, 192, 192);
}

.profile-picture-container button {
    width: 15%; 
    margin-top: 5px; 
    background-color: rgb(225, 225, 225);
}

.btn-edit:hover {
    background-color: black;
    color: orange;
}

.btn-save:hover {
    background-color: black;
    color: orange;
}

.btn-cancel:hover {
    background-color: orange;
    color: black;
}

.bttn {
    border-radius: 8px;
    max-width: fit-content;
    background-color: transparent !important;
    border: 1px solid;
    color:aliceblue
}


