body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.dropdown label {
    font-weight: bold;
    margin-right: 10px;
}

.dropdown select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
}

.dropdown button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.time-list {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

.time {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.time p {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.error-message {
    color: red;
    text-align: center;
    font-size: 18px;
}

.loading-message {
    text-align: center;
    font-size: 18px;
    color: #777777;
}

.place {
    text-align: left;
    margin-left: 20px;
}

.container1 {
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #0e0e0e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.img1 {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
}

.movie-items {
    text-align: center;
    margin-bottom: 20px;
}

.movietitle {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

.description {
    font-size: 1rem;
    margin-top: 20px;
    color: orange;
    margin-left: 20px;
}

.dropdown1 select {
    color: white;
    background-color: #333;
}

.form-label{
    font-size: 1.2rem;
    color: #f4f4f4;
}

.text-container{
    margin-top: 5px;
}

.place{
    margin-top: 15px;
    font-size: 1.5rem;
    color: orange;
    font-style: italic;
}

.time{
    background-color: rgb(12, 12, 12);
    color: rgb(255, 255, 255);

}

.no-movie-details{
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

.row{
    margin-right: 20px;
}

@media (min-width: 576px) {
    .container1 {
        flex-direction: row; /* Change to row layout on small screens and up */
        margin-left: 120px;
        margin-right: 120px;
    }
    .img1 {
        margin: 10px; /* Remove auto margin on larger screens */
    }
    .text-container {
        margin-left: 0px; /* Add some space between image and text */
    }
    .text-container{
        margin-top: 70px;
    }
}
